.card-hover {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.btn-primary {
  @extend .btn;
  background-color: $primary-color;
  border: none;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}



// Botón personalizado extendiendo Bootstrap
.btn-primary-custom {
  @extend .btn;
  background-color: $primary-color;
  border: none;
  color: white;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Card animada
.card-hover {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}

// Animación fade-in
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fade-in 0.8s ease-in-out both;
}
